*{
    box-sizing: border-box;
}
html,body {
    background-color:#FFF ;
    margin: 0;
    padding: 0;
}
body{
    transition: background-color 0.6s ease;
}
body.modal-open::after{
  content:'';
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.5);
}

